.Pfps{
    position: absolute;
    left: 50%;
    top: 230px;
    transform: translate(-50%);
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.Pfp{
    position: relative;
    width: 6rem;
    height: auto;
    border-radius: 50%
}